--extra-index-url http://sdg-pip.sandbox.aws.illinois.edu/stage
--trusted-host sdg-pip.sandbox.aws.illinois.edu
bcrypt==3.1.0
cffi==1.8.2
django==1.9.9
djangorestframework==3.4.6
protoapp==20161004.152831
psycopg2==2.6.2
pycparser==2.14
python-memcached==1.58
six==1.10.0
