# vim: set filetype=yaml tabstop=2 shiftwidth=2:

container_commands:
  00_migrate:
    command:      "django-admin.py migrate --noinput"
    leader_only:  true

  01_collectstatic:
    command:      "django-admin.py collectstatic --noinput"
    leader_only:  true

  02_whoami:
    command:      "whoami"
    leader_only:  false

option_settings:

  aws:elasticbeanstalk:application:environment:
    # TODO: Can hack be removed from manage.py?
    DJANGO_SETTINGS_MODULE: testapp_deploy.settings

  aws:elasticbeanstalk:container:python:
    NumProcesses: 3
    NumThreads:   15
    WSGIPath:     testapp_deploy/wsgi.py

  aws:elasticbeanstalk:container:python:staticfiles:
     /static/:    static/
